html body div.modula.modula-gallery {
  display: block;
}

html body div.modula div.modula-items {
  margin: 0;
  clear: none;
  overflow: visible;
  display: grid !important;
  justify-items: stretch;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  width: 100%;
  height: auto !important;
  // @include transition((width, height, background-color, transform));
  min-height: 100px;
  position: relative;
  z-index: 1;

  @include breakpoint(480px) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint(740px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include breakpoint($md-up) {
    grid-template-columns: 1fr 1fr;
  }

  .slideshowlink {
    display: none;
  }

  div.modula-item {
    display: block;
    position: relative;
    float: none;
    padding: 0;
    margin: 0;
    background-color: mix(black, transparent, 10%);
    // @include transition(all);
    width: auto !important;
    height: auto !important;
    aspect-ratio: 1/1;
    top: unset !important;
    left: unset !important;

    &:hover {
      background-color: white;
      box-shadow: 0px 0px 0.5em mix(black, transparent, 20%);
    }

    .modula-item-content {
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      max-width: none;

      > a.modula-item-link {
        display: block;
        padding-bottom: 100%;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: transparent;
      }

      > img.pic {
        display: block;
        position: absolute;
        top: 4% !important;
        left: 4% !important;
        width: 92% !important;
        height: 92% !important;
        opacity: 0.9;
        object-fit: cover;
        // @include transition(all);
        margin: 0 !important;
      }

      &:hover {
        > img.pic {
          top: 2% !important;
          left: 2% !important;
          width: 96% !important;
          height: 96% !important;
          opacity: 1;
          box-shadow: 0px 0px 0.25em mix(black, transparent, 25%);
        }
      }      
    }
  }
}

.modula-best-grid-gallery div.fancybox__backdrop {
  background-color: rgba(#000, .75);
}

.modula-best-grid-gallery .fancybox__slide.has-image > div.fancybox__content {
  padding: 1vh 1vw;
}
