.site-branding {
  container-type: inline-size;
}

.site-branding--titles {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 3.73cqi;

  @include breakpoint($md) {
    font-size: 2.5cqi;
  }
}

.site-title {
  font-family: "Vast Shadow", "Arial Black", sans-serif;
  text-transform: uppercase;
  color: $color-blue--dark;
  font-size: 2.11em;
  letter-spacing: 0.115em;
  padding-bottom: 0;
  margin-top: -0.18em;
  margin-bottom: -0.125em;
  line-height: 1;

    border-bottom: 4px double $color-orange--pale;
    padding-bottom: 0.175em;
    margin-bottom: 0.3em;
    letter-spacing: 0.138em;
  

  @include breakpoint($lg-up) {
    letter-spacing: 0.139em;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $color-blue--darkest;
    }
  }

  @include breakpoint($sm-down) {
    .fezziwig {
      display: block;
      font-size: 1.65em;
    }

    .media-arts {
      display: block;
      font-size: 1.27em;
      margin-top: -0.05em;
    }
  }
}

.site-subtitle-1 {
  font-family: "Playfair Display SC", Georgia, serif;
  font-weight: 500;
  color: mix($color-blue--darkest, $color-orange--darkest, 60%);
  font-size: 1.1em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 100%;

  span {
    flex: 1;
    white-space: nowrap;
  }

  @include breakpoint($sm-down) {
    // display: none;
    flex-direction: column;

    .divider-dot {
      display: none;
    }

    .drupal-wordpress {
      display: block;
      margin-bottom: .18em;
      font-size: 1.715em;
    }

    .design-dev {
      display: block;
      font-size: 1.535em;
    }
  }
}

.site-subtitle-2 {
  font-family: "Playfair Display SC", Georgia, serif;
  letter-spacing: 0.115em;
  text-transform: none;
  color: $color-blue--dark;
  font-size: 0.8em;
  line-height: 1;
  padding-top: 0.5em;

  @include breakpoint($sm-down) {
    span.name {
      display: block;
      margin-bottom: 0.5em;
    }
  }
}

.site-subtitle-2 {
  display: block;

  span {
    white-space: nowrap;

    &.name {
      padding-right: 1em;
    }

    &.telephone {
      padding-left: 1em;
    }
  }
}
