.post-teaser-list--category-websites {
  gap: 2cqi;
}

.post-teaser--category-websites,
a.post-teaser--category-websites {
  display: flex;
  gap: .5cqi;

  .post-teaser__content {
    position: relative;
    z-index: 200;
    background-color: rgba($color-beige-light, 0.85);
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2cqi;
    font-size: clamp(12px, 2.25cqi, 18px);
    opacity: 90;
    // @include transition(opacity);

    .entry-header,
    .post-teaser__header {
      display: contents;
    }

    .entry-title,
    .post-teaser__title {
      font-size: 1.25em;

      a {
        text-decoration: none;
        color: $color-blue--darker;
        display: block;
      }
    }

    .entry-content,
    .post-teaser__excerpt {
      font-size: 1em;
      color: $color-blue--dark;
    }

    .post-teaser__image {
      width: 30cqi;
    }
  }
}
