.post-teaser-list-wrap {
  container-type: inline-size;
  margin: 1.25rem 0;
}

.post-teaser-list {
  width: 100cqi;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.post-teaser-list__item {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100cqi;
}

.post-teaser,
a.post-teaser {
  @include transition(color);

  width: 100cqi;
  display: grid;
  gap: 2cqi;
  grid-template-columns: 20cqi auto;
  text-decoration: none;
  color: $color-blue--darker;
  overflow: hidden;
  position: relative;

  &:hover {
    color: $color-orange--darker;

    .post-teaser__image {
      img {
        filter: saturate(100%);
        opacity: 1.0;
      }
    }

    .post-teaser__content {
      opacity: 1;
    }

    .post-teaser__read-more {
      opacity: 1;
      color: $color-orange--darkest;
    }
  }
}

.post-teaser__image {
  overflow: hidden;
  position: relative;
  display: block;
  width: 20cqi;
  min-height: 20cqi;
  // background-color: rgba($color-beige-light, 0.5);
  filter: saturate(75%);

  img {
    @include transition((filter, opacity));

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    width: inherit;
    z-index: 100;
    object-fit: contain;
    filter: saturate(100%);
    opacity: .8;
  }
}

.post-teaser__content {
  @include transition(opacity);
  
  // background-color: rgba($color-beige-light, 0.85);
  width: 78cqi;
  font-size: 3cqi;
  font-size: clamp(12px, 3cqi, 18px);
  // padding: 2cqi;
  opacity: .9;

  .entry-header,
  .post-teaser__header {
    display: contents;
  }

  .entry-title,
  .post-teaser__title {
    font-size: 1.25em;

    a {
      text-decoration: none;
      color: $color-blue--darker;
      display: block;
    }
  }

  .entry-content,
  .post-teaser__excerpt {
    font-size: 1em;
    color: $color-blue--dark;
  }
}

.post-teaser__read-more {
  @include transition((color, opacity));

  display: block;
  width: min-content;
  background-color: rgba(black, .05);
  border: .075rem solid rgba(black, .1);
  white-space: nowrap;
  margin: .75rem 0 0;
  padding: .25rem .4rem;
  border-radius: .25rem;
  line-height: 1;
  font-size: .825rem;
  font-weight: 500;
  opacity: .8;
}

