.post-teaser-list-wrap {
  container-type: inline-size;
}

.post-teaser-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.25rem 0;
  list-style: none;
  padding: 0;
  container-type: inline-size;
}

.post-teaser,
a.post-teaser {
  width: 100cqi;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 8rem auto;
  text-decoration: none;
  color: $color-blue--darker;
  // @include transition(color);
  overflow: hidden;
  position: relative;

  .post-teaser__read-more {
    display: block;
    width: min-content;
    background-color: rgba(black, .05);
    border: .075rem solid rgba(black, .1);
    white-space: nowrap;
    margin: .75rem 0 0;
    padding: .25rem .4rem;
    border-radius: .25rem;
    line-height: 1;
    font-size: .825rem;
    font-weight: 500;
    // @include transition((color, opacity));
    opacity: .8;
  }

  &:hover {
    color: $color-orange--darker;

    .post-teaser__image {
      img {
        filter: saturate(0%);
        opacity: 1.0;
      }
    }

    .post-teaser__content {
      opacity: 1;
    }

    .post-teaser__read-more {
      opacity: 1;
      color: $color-orange--darkest;
    }
  }
}

.post-teaser__inner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.post-teaser__image {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  display: block;
  width: 20cqi;

  img {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    object-fit: cover;
    filter: saturate(100%);
    opacity: .75;
    // @include transition((filter, opacity));
  }
}
