*~
.DS_Store
.svn
.cvs
*.bak
*.swp
*.log
/docroot/Thumbs.db
/docroot/wp-config.php
/docroot/wp-content/uploads/
/docroot/wp-content/blogs.dir/
/docroot/wp-content/upgrade/
/docroot/wp-content/backup-db/
/docroot/wp-content/advanced-cache.php
/docroot/wp-content/wp-cache-config.php
/docroot/wp-content/cache/*
/docroot/wp-content/cache/supercache/*
d/ocroot/wp-content/cache/
/docroot/wp-content/backups/
/docroot/sitemap.xml
/docroot/sitemap.xml.gz
.idea
node_modules
*.sql.gz
*.sql
