*~
.DS_Store
.svn
.cvs
*.bak
*.swp
*.log
/web/Thumbs.db
/web/wp-config.php
/web/wp-content/uploads/
/web/wp-content/blogs.dir/
/web/wp-content/upgrade/
/web/wp-content/backup-db/
/web/wp-content/advanced-cache.php
/web/wp-content/wp-cache-config.php
/web/wp-content/cache/*
/web/wp-content/cache/supercache/*
/web/wp-content/cache/
/web/wp-content/backups/
/web/sitemap.xml
/web/sitemap.xml.gz
.idea
node_modules
*.sql.gz
*.sql
cache/
.vite
.env.local
._*
wp-config.php
/web/fixdb/
