p.site-title {
  a {
    background-image: url('#{$imgpath}/home/title-only.png');
    display: block;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 22vw;
  }
}
