{% block footer %}

  Copyright {{"now"|date('Y')}} Fezziwig Media Arts

  <h3 class="site-subtitle-2">
      <span class="name">Richard Gilbert, Proprietor.</span>
      <span class="email">richard@fezziwigmedia.com</span>
      <span class="telephone">206·437·5533</span>
  </h3>

{% endblock %}