{% extends "tease.twig" %}

{% block content %}
  <div class="inner"
    style="background-image:url({{post.thumbnail.src}})">
    <a class="cover-link" href="{{post.link}}"></a>
    <div class="teaser-content">
      <h2 class="h2">{{post.title}}</h2>
      <p>{{post.preview}}</p>
    </div>
  </div>
{% endblock %}