body.single-post {
  .blog-author {
    display: none;
  }

  .entry-title {
    margin: 0;
  }

  .article-body {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .article-content {
    display: block;

    @include breakpoint($md-up) {
      grid-template-columns: 3fr 1.5fr;
    }

    &.has-gallery {
      display: grid;
      gap: 1em;

      .article-sidebar {
        display: flex;
        justify-content: flex-end;
        height: min-content;
      }
    }
  }
}
