body.single-post {
  .blog-author {
    display: none;
  }

  .article-content {
    display: block;

    @include breakpoint($md-up) {
      grid-template-columns: 3fr 1.5fr;
    }

    &.has-gallery {
      display: grid;
      gap: 1em;

      .article-sidebar {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
