// Breakpoints.
$xxs: 0;
$xs: 320px;
$sm: 544px;
$md: 800px;
$lg: 1024px;
$xl: 1200px;
$max-site-width: $xl;

//Breakpoint variables
$xxs-only: $xxs ($xs - 1);
$xxs-up: $xxs;

$xs-only: $xs ($sm - 1);
$xs-up: $xs;
$xs-down: 0 ($sm - 1);

$sm-only: $sm ($md - 1);
$sm-up: $sm;
$sm-down: 0 ($md - 1);

$md-only: $md ($lg - 1);
$md-up: $md;
$md-down: 0 ($lg - 1);

$lg-only: $lg ($xl - 1);
$lg-up: $lg;
$lg-down: 0 ($xl - 1);

$xl-only: $xl;
$xl-up: $xl;
