.query.home-page-hero {

    .query-field {
        
        overflow: hidden;
        position: relative;
        font-size: .8em;

        .hero-content {
            position: relative;
            z-index: 200;
            padding: 2em 0;
            margin: 4em 0;
            text-align: center;
            background-color: mix(#000, transparent, 0%);
            .hero-title {
                max-width: 600px;
                margin: 0 auto;
                color:  mix(#FFF, transparent, 80%);
                font-size: 5em;
                line-height: 1;
                padding-bottom: .25em;
                text-shadow: .05em .05em .15em mix(#000, transparent, 70%);
            }
            .hero-text {
                max-width: 600px;
                margin: 0 auto;
                color:  mix(#FFF, transparent, 80%);
                font-size: 1.5em;
                line-height: 1.75;
                text-shadow: .05em .05em .15em mix(#000, transparent, 70%);
                #schednowlink {
                    display: block;
                    margin-top: 1.5em;
                }
            }            
        }

        .hero-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            z-index: 100;
            img {   
                display: block;
                object-fit: cover;
                object-position: 50% 50%;
                height: inherit;
                width: inherit;
            }        
        }
    }
}
