* {
  box-sizing: border-box;
  // @include transition((width, font-size));
}

html {
  height: 100%;
  margin: 0;
}

body {
  background-color: $color-outer-bg;
  color: $text-color;
  margin: 0 auto;
  padding: 0;

  @include breakpoint($sm) {
    width: $sm;
  }

  @include breakpoint($md) {
    width: $md;
  }

  @include breakpoint($lg) {
    width: $lg;
  }

  @include breakpoint($xl) {
    width: $xl;
  }

  @include breakpoint($max-site-width) {
    width: $max-site-width;
  }
}

.site-outer {
  padding: 0.5em;

  @include breakpoint($sm-up) {
    padding: 0.75em;
  }

  @include breakpoint($md-up) {
    padding: 1em;
  }
}

.site-wrapper {
  background-color: $color-inner-bg;
  border: 4px solid $color-orange--paler;

  .site-container {
    margin: 2px;
    border: 0.5em solid $color-blue--paler;

    .site {
      margin: 2px;
      padding: 0;
      border: 4px solid $color-orange--paler;
    }

    @include breakpoint($sm-up) {
      border-width: 0.75em;
    }

    @include breakpoint($md-up) {
      border-width: 1em;
    }
  }
}

.section-inner {
  padding: 0.75em;
  box-shadow: inset 0 0 1.5em mix($color-blue--base, transparent, 10%);

  @include breakpoint($sm-up) {
    padding: 1em;
  }

  @include breakpoint($md-up) {
    padding: 1.5em;
  }
}

.entry-content {
  margin: 0;
}
