#nav-inner {
  background-color: $color-beige-lighter;
  padding: 0;
  border-top: 4px solid $color-orange--paler;
  border-bottom: 4px solid $color-orange--paler;
}

#content-inner {
  background-color: $color-beige-lightest;
}

#footer-inner {
  background-color: $color-beige-lighter;
  border-top: 4px solid $color-orange--paler;
  padding-top: .75em;
  padding-bottom: .75em;
}
