* {
    box-sizing: border-box;
}

body {
  // background-color: #EFEFEF;
  padding: 0;
}

.site-wrapper {
  // background-color: $whitener;
  padding: 0;
  @extend %clearfix;
}

.site {
  // background-color: $whitener;
  padding: 0;
  @extend %clearfix;
}

.site-inner {
  // background-color: $whitener;
  padding: 0;
  @extend %clearfix;
}

.section-wrapper {
  // background-color: #FFF;
  padding: 0;
  @extend %clearfix;
    &:nth-child(even) {
      // background-color: #ddd;
    }
    &:nth-child(odd) {
      // background-color: #eee;
    }
}

.section {
  // background-color: $whitener;
  padding: 0;
  max-width: $max-site-width;
  margin: 0 auto;
  @extend %clearfix;
  &--hero {
    max-width: none;
  }
 }

 .section-inner {
   // background-color: $whitener;
   padding: 0 $padding--base;
   @extend %clearfix;
    &--hero {
        padding: 0;
    }
    &--header {
        padding-top: $padding--widest;
        padding-bottom: $padding--widest;
    }
    &--content,
    &--footer {
        padding-top: $padding--base;
        padding-bottom: $padding--base;
    }
 }
