.site-branding {
}

.site-branding--titles {
  text-align: center;
  padding: 0;
  margin: 0;
  // transition: .125s ease-in-out;

  font-size: 1em;
  @include breakpoint($md) {
    font-size: 1.04em;
  }
  @include breakpoint($lg) {
    font-size: 1.29em;
  }
  @include breakpoint($xl) {
    font-size: 1.5em;
  }
}

.site-title {
  font-family: 'Vast Shadow', 'Arial Black', sans-serif;
  text-transform: uppercase;
  color: $color-blue--dark;
  font-size: 2.11em;

  letter-spacing: .115em;

  padding-bottom: 0;
  margin-top: -.18em;
  margin-bottom: -.125em;

  @include breakpoint($md-up) {
    border-bottom: 4px double $color-orange--pale;
    padding-bottom: .175em;
    margin-bottom: .3em;
    letter-spacing: .138em;
  }

  @include breakpoint($lg-up) {
    letter-spacing: .139em;
  }

  line-height: 1;
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $color-blue--darkest;
    }
  }

  @include breakpoint($sm-down) {
    .fezziwig {
      display: block;
      font-size: 1.65em;
    }
    .media-arts {
      display: block;
      font-size: 1.27em;
      margin-top: -.05em;
    }
  }

  @include breakpoint($xs-down) {
    .fezziwig {
      display: block;
      font-size: .88em;
    }
    .media-arts {
      display: block;
      font-size: .65em;
      margin-top: -.01em;
    }
  }

}

.site-subtitle-1 {
  font-family: 'Playfair Display SC', Georgia, serif;
  color: mix($color-blue--darkest, $color-orange--darkest, 60%);
  font-size: 1.1em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .15em;
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 100%;

  span {
    flex: 1;
    white-space: nowrap;
  }

  @include breakpoint($sm-down) {
    display: none;
    .divider-dot {
      display: none;
    }
    .drupal-wordpress {
      display: block;
    }
    .design-dev {
      display: block;
    }
  }

}

.site-subtitle-2 {
  font-family: 'Playfair Display SC', Georgia, serif;
  letter-spacing: .115em;
  text-transform: none;
  color: $color-blue--dark;
  font-size: .8em;
  line-height: 1;
  padding-top: .5em;
  @include breakpoint($sm-down) {
    span.name {
      display: block;
      margin-bottom: .5em;
    }
  }
}

.site-subtitle-2 {
  display: block;
  span {
    white-space: nowrap;
    &.name {
      padding-right: 1em;
    }
    &.telephone {
      padding-left: 1em;
    }
  }
}

