$columns: 3;
$gutterSize: 16px;

* {
  box-sizing: border-box;
}

body.blog {
  #content-inner {
    .wrapper {
      padding: #{$gutterSize / 2};
      &:after {
        content: '';
        clear: both;
        display: block;
      }
      article {
        width: calc(100% / #{$columns});
        float: left;
        position: relative;
        padding-bottom: calc(100% / #{$columns});
        .inner {
          margin: #{$gutterSize / 2};
          position: absolute;
          top: 0;
          bottom: 0;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          // background-image: none !important;
          background-color: mix(#fff, transparent, 70%);
          overflow: hidden;
          a.cover-link {
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: mix(#fff, transparent, 70%);
          }
        }
      }
    }
  }
}
