body.single-post {

  .blog-author {
    display: none;
  }

  .article-content {
    // background-color: mix(white, transparent, 60%);
    display: block;
    @include breakpoint($md-up) {
      display: grid;
      grid-template-columns: 3fr 1.5fr;
    }
    grid-column-gap: 1em;
    .article-body {
      padding-bottom: 1em;
    }
    .article-sidebar {
      display: flex;
      justify-content: flex-end;
      // background-color: mix(pink, transparent, 60%);
    }
  }


}