$bg-size: 3.45vw;

$bg-size--sides: $bg-size * 1.2;
$bg-pos--sides: $bg-size * .875;


$bg-size--header: $bg-size * 28.345;
$bg-size--footer: $bg-size--header;

$site-maxwidth: $bg-size--header;
$site-padding: $bg-size * .3;
$section-padding: $bg-size * 1.9;

.tester {
  position: absolute;
  left: 10vw;
  background-color: mix(purple, transparent, 50%);
  width: 20vw;
  height: 20vw;
  &#header-tester {
    top: 0;
    left: 3vw;
    height: 10.48vw;
  }
  &#segment-tester {
    background-color: mix(darkgreen, transparent, 50%);
    top: 10.48vw;
    left: 3vw;
    height: 3.7vw;
  }
}


.site-wrapper {
  padding: 0;
  margin: 0;
  // min-height: 100vh;
  .admin-bar & {
    // min-height: calc(100vh - 46px);
    @media screen and (min-width: 783px) {
      // min-height: calc(100vh - 32px);
    }
  }
  * {
    // display: none;
  }
}

.section-inner {
  padding: $section-padding;
  .site-header &,
  .site-content & {
    padding-bottom: 0;
  }
  .site-footer &,
  .site-content & {
    padding-top: 0;
  }
}

.site-container {
  min-height: inherit;
  max-width: $site-maxwidth;
  background-position: center $bg-pos--sides;
  background-size: $bg-size--header;
  // background-color: red;

}

.site {
  min-height: inherit;
  background-position: right $bg-pos--sides;
  background-size: $bg-size--sides;
  display: flex;
  flex-direction: column;
  > .section {
    &.site-header {
      flex: 0;
    }
    &.site-content {
      flex: 1;
    }
    &.site-footer {
      flex: 0;
    }
  }
}

.site-header {
  min-height: $bg-size--header / 11.73;
  background-size: $bg-size * 28.345;
  background-position: center $site-padding;
  background-color: $site-bgcolor;
  padding-top: $site-padding;
}

.site-footer {
  min-height: $bg-size--footer / 11.73;
  background-size: $bg-size--footer;
}

